{% extends "../base.html" %}
{% block content %}
    <div class="card shadow m-3">
        <div class="card-body">
            <h4 class="mb-3">Трек-номер</h4>
            <form action="/check_order" class="d-flex gap-3">
                <input type="text" name="query" value="{{request.GET.query}}" class="form-control" placeholder="climate-">
                <button class="btn btn-success px-4">Отследить</button>
            </form>
        </div>
    </div>
    {% if entries %}
        <div class="card shadow container">
            <div class="card-body">
                <div class="d-flex flex-column container">
                    <h3>Заказ {{request.GET.query}}</h3>
                    <h4>Статус: {{order.status}}</h4>
                    {% for entry in entries %}
                        <div class="card m-3 shadow" style="min-width: 800px">
                            <div class="card-body d-flex align-items-center gap-3">
                                <img src="/media/{{entry.card_image.path}}" class="cart-image">
                                <div class="d-flex flex-column col-4 align-content-between justify-content-between">
                                    <h4 class="fw-bold limit-1">{{entry.card_title}}</h4>
                                    <p class="fs-5 lim">{{entry.variant.title}}</p>
                                    {% if entry.variant.quantity > 0 %}
                                        <p class="text-success">В наличии {{entry.variant.quantity}} шт.</p>
                                    {% else %}
                                        <p class="text-secondary">Под заказ</p>
                                    {% endif %}
                                </div>
                                <div class="col-2 gap-0 d-flex">
                                    <span class="text-end">{{entry.quantity}} шт.</span>
                                </div>
                                <div class="col-2 text-end">
                                    <span class="text-end">{{entry.total}} руб.</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
        
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <span class="fs-4 fw-semibold"> Итого: {{total}} руб. </span>
                                {% if not has_all %}
                                    <span class="fs-6 mb-3 fw-semibold">Не все товары есть в наличии, заказ будет доставлен, как только все появится на складе!</span>
                                {% endif %}
                                <h5 class="mb-0">Данные получателя</h5>
                                {% if request.user == order.user %}
                                    <div class="card-body d-flex flex-column my-2">
                                        <h6>{{order.fio}}</h6>
                                        <span>ул. {{order.street}} {{order.house}} {{order.corps}} {{order.flat}}</span>
                                        <span>тел. {{order.phone}} </span>
                                        <span class="mb-3">Требуется доставка: {% if order.is_delivery %}Да{% else %}Нет{% endif %}</span>
                                        <span>Комментарий: {{order.comment|default:"нет"}}</span>
                                    </div>
                                {% else %}
                                    <div class="card-body d-flex flex-column my-2">
                                        <h6>Скрыто</h6>
                                        <span>ул. {{order.street}}
                                            Скрыто
                                        </span>
                                        <span>тел. Скрыто</span>
                                        <span class="mb-3">Требуется доставка: {% if order.is_delivery %}Да{% else %}Нет{% endif %}</span>
                                        <span>Комментарий: {{order.comment|default:"нет"}}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% elif request.GET.query != "" %}
        <div class="card shadow m-3">
            <div class="card-body">
                <h4>Странно...</h4>
                <p>Кажется такого заказа нет в базе данных!</p>
            </div>
        </div>

    {% endif %}
    
{% endblock content %}