.btn-outline-primary {
    color: #5574C2;
    border-color: #5574C2;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #5574C2;
    border-color: #5574C2;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 116, 194, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #5574C2;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #5574C2;
    border-color: #5574C2;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 116, 194, 0.5);
}


.btn-primary {
    color: #fff;
    background-color: #5574C2;
    border-color: #5574C2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4060b1;
    border-color: #3c5ba8;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #4060b1;
    border-color: #3c5ba8;
    box-shadow: 0 0 0 0.2rem rgba(111, 137, 203, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #5574C2;
    border-color: #5574C2;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3c5ba8;
    border-color: #39569e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 137, 203, 0.5);
}


a {
    color: #5574C2;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #355195;
    text-decoration: underline;
}

.btn-link {
    font-weight: 400;
    color: #5574C2;
    text-decoration: none;
}

.btn-link:hover {
    color: #355195;
    text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: underline;
}

.btn-link:disabled,
.btn-link.disabled {
    color: #6c757d;
    pointer-events: none;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #5574C2;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #5574C2;
    background-color: #5574C2;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(85, 116, 194, 0.25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #b3c1e4;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #d8dff1;
    border-color: #d8dff1;
}

.custom-control-input[disabled]~.custom-control-label,
.custom-control-input:disabled~.custom-control-label {
    color: #6c757d;
}

.custom-control-input[disabled]~.custom-control-label::before,
.custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    border-color: #5574C2;
    background-color: #5574C2;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.list-group-item.disabled,
.list-group-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #5574C2;
    border-color: #5574C2;
}

.list-group-item+.list-group-item {
    border-top-width: 0;
}

.list-group-item+.list-group-item.active {
    margin-top: -1px;
    border-top-width: 1px;
}


.text-primary {
    color: #5574C2 !important;
}


.bg-primary {
    background-color: #5574C2 !important;
}

.border-primary {
    border-color: #5574C2 !important;
}